body {
  background-color: var(--dark-gray);
  color: var(--white);
  padding-inline: 3rem;
  padding-bottom: 2rem;

  display: grid;
  grid-template-columns: 1fr 50rem 1fr;
}

header {
  margin-block: 2rem;
}

.title {
  font-family: 'Times New Roman', serif;
  font-style: italic;
  margin-block: 2rem;
  text-align: center;
}

nav {
  margin-block: 2rem;
}

nav ul {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.nav-button {
  width: 10rem;
  height: 3rem;
}
